<center>
  <h1>Edit your survey</h1>

  <h2>Edit your basic information below:</h2>

<%= erb :"survey/_edit", :layout => false %>

  <h2>Edit your survey's question and choice details at the link below: </h2>
    <a href="/">Click me</a>

</center>
