<center>
<h1>Create a survey!</h1>

<form action='/surveys' method='post'>
Your survey title<input type='text' name="title"/><br>
<input type='text' name="title"/><br>
<input type='text' name="description"/><br>
<input type='submit' value='Create!'>
</form>


</center>
