
  <form id='signup_form' action="/login_post" method="POST">
    Enter your email:
    <input class='input_tile' type="text" placeholder="user name" name="name">
    Enter your password:
    <input class='input_tile' type="password" placeholder="password" name="password"><br><br>
    <input id='submit' type="submit" value="Login">
  </form>



