
  <form action="/login_post" method="POST">
    Enter your email:
    <input type="text" placeholder="user name" name="name">
    Enter your password:
    <input type="password" placeholder="password" name="password"><br><br>
    <input type="submit" value="Login">
  </form>



