<form action="/signup" method="POST">
  <label>Enter your email:
    <input type="text" placeholder="user name" name="name">
  </label>
  <label>Create your password:
    <input type="password" placeholder="password" name="password">
  </label>
  <br><br>
  <input type="submit" value="Sign Up">
</form>
