<form id='signup_form' action="/signup" method="POST">
  <label>Enter your email:
    <input class='input_tile' type="text" name="name">
  </label>
  <label>Create your password:
    <input class='input_tile' type="password" name="password">
  </label>
  <br><br>
  <input id='submit' type="submit" value="Sign Up">
</form>
