<h1>Join us, or don't, whatever</h1>
<form action="/signup" method="POST">
  <label>Username:
    <input type="text" placeholder="user name" name="name">
  </label>
  <label>Password:
    <input type="password" placeholder="password" name="password">
  </label>
  <br><br>
  <input type="submit" value="Sign Up">
</form>
