<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <link rel='stylesheet' href='/stylesheets/normalize.css' type='text/css' /> -->
	<link rel='stylesheet' href='/stylesheets/application.css' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Signika:400,600' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src='/javascripts/application.js'></script>
	<title><%= @title || "Hipster News" %></title>
</head>
<body>
	<header>
		<div id='headline'>
			<div>
				<h1 id='logo'>
					 SurveyGorilla
				</h1>
			</div>
			<div id='img'>
				<img  src="/imgs/logo.png" height="55em" width="70em">
			</div>

			<div id='header_links'>
				<ul>
					<li><h5>Home</h5></li>
					<li><h5>	Surveys</h5></li>
				</ul>
				<h5 id='login'>Login</h5>
			</div>
		</div>
	</header>


    <%= yield %>
    <footer>
		<div id='foot_body'>
			<div class='footnotes' >
				<p id='community'> About SurveyMonkey  Privacy Policy  Email Opt-In  Office Locations</p>
			</div>

			<div class='footnotes' >
				<p id='copyright'>Copyright © 1999-2015 SurveyMonkey</p>
			</div>
		</div>
	</footer>
</body>
</html>
