<h3>Grace us with  your pretension</h3>
<form id="comment-content" action="/posts/<%= @cur_post.id %>/new_comment" method="post">
  <label>Comment:<br>
    <textarea cols="100" rows="10" class="form-control"  name='content' ></textarea><br><br>
  </label>
  <input type='submit' value='Create Comment' />

</form>
